* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 62.5%;
}

.container {
  /* max-width: 400px; */
  height: 100vh;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: 0 auto; */
  /* border: 2px solid red; */
  padding: 2rem;
}

.full {
  width: 100%;
}

ul {
  margin-top: 1rem;
  margin-left: 1rem;
}

li {
  font-size: 1rem;
}
